@model IEnumerable<AirTransferLines.Entities.DTOs.AcenteDTO>
@{
    ViewData["Title"] = "AcenteList";
}

<h1>Acenteler</h1>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Acente Adı</td>
            <td>EMail</td>
            <td>Şifre</td>
            <td>Adres</td>
            <td>Unvanı</td>
            <td>Yetkili</td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AcenteID</td>
            <td>@item.AcenteAdi</td>
            <td>@item.Email</td>
            <td>@item.Sifre</td>
            <td>@item.Adres</td>
            <td>@item.FirmaUnvan</td>
            <td>@item.Yetkili</td>
        </tr>
    }
</table>


